.imgAuthor {
    max-height: 48px;
    border: 2px solid white;
    display: inline;
}

.btnLike {
    opacity: 0.8;
}

.btnLike.active{
    opacity: 1;
    color: yellow !important;
    box-shadow: 0 0px 0px 3px rgba(121, 167, 54, 0.5) !important;
}

.btnLike.active i{
    color: yellow !important;
}

.btnDislike {
    opacity: 0.8;
}

.btnDislike.active{
    opacity: 1;
    color: yellow !important;
    box-shadow: 0 0px 0px 3px rgba(201, 48, 44, 0.5) !important;
}

.btnDislike.active i{
    color: yellow !important;
}

// .image-gallery-thumbnail {
//     width: 33% !important;
// }

// .image-gallery-left-nav, .image-gallery-right-nav {
//     font-size: 2rem !important;
//     padding: 15px 15px !important;
// }

.pDescription{
    white-space: pre-wrap
}