.imageGallery {
    margin-top: 1rem;
    width: 60%;
    height: auto;
}

/* .imgThumbnail {
    margin: 25px;
    widows: 85%;;
    height:85%;
} */
    
.cardBody {
    padding: 0 25px !important;
}
    
.cardFooter {
    padding: 10px 15px !important;
    background-color: #fff !important;
    border-top:none !important;
}